@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-0: #0f0131;
    --color-1: #3900BD;
    --color-2: #4600F0;
    --color-3: #7C49F2;
    --color-4: #392270;
    --box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.76);
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: var(--color-3);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover{
    background: var(--color-4);
}

body{
    background: var(--color-0);
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------MAIN--------------------- */

.container-bg{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-areas: 
    'sider pro-top pro-top'
    'sider my-pro my-pro'
    'sider my-pro my-pro'
    'sider1 my-pro my-pro'
    'sider1 p-rec p-rec'
    'sider1 cont cont'
    'sider2 cont cont'
    'sider3 cont cont'
    'sider4 cont cont';
    margin: 20px auto;
    width: 1280px;
    gap: 20px;
}

/* ----------------------PERFIL-------------------- */

.profile-top{
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    grid-area: sider;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.profile-top div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.profile-top div > img{
    border-radius: 50%;
    outline: 2px solid var(--color-3);
    /* margin: 20px 0px; */
    width: 150px;
}

.profile-top div > h2{
    color: var(--color-3);
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.profile-top div > p{
    color: var(--color-1);
    display: flex;
    flex-wrap: wrap;
}

/* ------------------INFOMACÕES----------------- */

.sider-info{
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    grid-area: sider1;
    display: flex;
    align-items: center;
}

.sider-info div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 5px;
}

.sider-info > div > .item-loc a{
    color: var(--color-3);
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
}

div .item-loc > a i{
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 5px;
}

div .item-loc > a p{
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 5px;
}

/* -------------------TECNOLOGIAS-------------------------- */

.sider-tech{
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    grid-area: sider2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.sider-tech h2{
    color: var(--color-3);
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin: 10px;
}

.sider-tech > div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}

.sider-tech > div h3{
    text-transform: uppercase;
    color: var(--color-2);
}

.estud{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    max-width: 100%;
}

.estud p{
    border-radius: 5px;
    background: black;
    color: var(--color-3);
    display: flex;
    font-size: 0.8em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
}

.inter{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    max-width: 100%;
    justify-content: center;
}

.inter p{
    border-radius: 5px;
    background: black;
    color: var(--color-3);
    display: flex;
    font-size: 0.8em;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    padding: 5px;
    width: 100px;
}

/* -----------------EXPERIENCIA----------------- */

.sider-expe{
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    grid-area: sider3;
    display: flex;
    flex-wrap: wrap;
}

.sider-expe h2{
    color: var(--color-3);
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin: 10px;
}

.sider-expe > div{
    display: flex;
    flex-wrap: wrap;
}

.sider-expe > div ul{
    margin: 10px 20px;
}

.sider-expe > div > ul li{
    color: var(--color-3);
    margin: 10px;
}

.sider-expe > div > ul > li p{
    color: var(--color-1);
    text-transform: uppercase;
    font-size: 0.8em;
}

/* -------------------EDUCAÇÃO-------------------- */

.sider-educ{
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    grid-area: sider4;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.sider-educ h2{
    color: var(--color-3);
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    margin: 10px;
}

.sider-educ > div{
    display: flex;
    flex-wrap: wrap;
}

.sider-educ > div ul{
    margin: 10px 20px;
}

.sider-educ > div > ul li{
    color: var(--color-3);
    margin: 10px;
}

.sider-educ > div > ul > li p{
    color: var(--color-1);
    text-transform: uppercase;
    font-size: 0.8em;
}

.sider-educ > div > ul > li h5{
    color: var(--color-1);
    text-transform: uppercase;
    font-size: 0.8em;
}

/* ------------------MEUS-PROJETOS---------------- */

.project-container{
    align-items: center;
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    grid-area: pro-top;
    display: flex;
    justify-content: space-between;
    height: 10vh;
}

.project{
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
}

.project h2{
    color: var(--color-3);
}

.project a{
    color: var(--color-1);
    text-decoration: none;
}

/* ----------------------------------------------- */

.my-projects{
    grid-area: my-pro;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.projects-md{
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    width: 465px;
    height: 25vh;
    justify-content: space-between;
}

.projects-md p{
    color: var(--color-1);
    text-align: justify;
    margin: 5px 10px;
}

.projects-md > div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.folder-pro{
    display: flex;
    flex-wrap: wrap;
}

.folder-pro i{
    color: var(--color-3);
    font-size: 1.6em;
    margin: 10px;
}

.folder-pro h3{
    align-content: center;
    color:var(--color-3);
    display: flex;
    flex-wrap: wrap;
    margin: 10px 0px;
}

.icon-item{
    padding: 10px;
    margin: 0px;
}

.icon-item i {
    font-size: 1em;
    color: var(--color-3);
}

.icon-item p{
    color: var(--color-2);
    margin: 0px 5px;
}

.tecno{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.tecno p{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    margin: 0px;
    color: var(--color-2);
}

.tecno .tec-p-1::before{
    content: '';
    background: #00aeff;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
}
.tecno .tec-p-2::before{
    content: '';
    background: #ff9900;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
}
.tecno .tec-p-3::before{
    content: '';
    background: #eeff00;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    width: 10px;
    height: 10px;
    margin: 0px 5px;
}

/* ----------------------------------------------- */

.post-recent{
    align-items: center;
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    grid-area: p-rec;
    display: flex;
    height: 10vh;
}

.post-item h2{
    color: var(--color-3);
    margin: 10px;
}

/* ----------------------------------------------- */

.post-container{
    grid-area: cont;
}

.post-rec{
    background: var(--color-4);
    border-radius: 10px;
    box-shadow: var(--box-shadow);
    display: flex;
    flex-wrap: wrap;
    text-decoration: none;
    margin-bottom: 20px;
    width: 100%;
    /* height: 20vh; */
}

.post-rec img{
    border-radius: 10px;
    width: 150px;
    margin: 20px;
}

.post-rec > div{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    width: 750px;
    padding: 20px 0px;
}

.post-rec > div h3{
    color: var(--color-3);
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.post-rec > div small{
    color: var(--color-2);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.post-rec > div p{
    color: var(--color-1);
    display: flex;
    flex-wrap: wrap;
    text-align: justify;
}

.hashtag{
    background: var(--color-0);
    color: var(--color-2);
    display: flex;
    border-radius: 5px;
    flex-wrap: wrap;
    font-size: 0.8em;
    margin: 5px 5px 0px 0px;
    padding: 4px;
}

/* ----------------------------------------------- */

footer{
    color: var(--color-1);
    background: var(--color-4);
    border-top: 2px solid var(--color-3);
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    justify-content: center;
}

footer a{
    color: var(--color-3);
    text-decoration: none;
    margin: 0px 0px 0px 5px;
}