@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --color-0: #;
    --color-1: #;
    --color-2: #;
    --color-3: #;
    --color-4: #;
}

body{
    background: var();
    font-family: Arial, Helvetica, sans-serif;
}

/* ----------------------MAIN--------------------- */

.container-bg{
    display: grid;
    grid-template-columns: 2fr 3fr 3fr;
    grid-template-rows: 2fr 3fr 3fr;
    grid-template-areas: 
    'sider pro-top pro-top'
    /* 'sider my-pro my-pro' */
    'sider proj1 proj2'
    'sider proj3 proj4'
    'sider1 p-rec p-rec'
    'sider1 post1 post1'
    'sider1 post2 post2'
    'sider2 . .'
    'sider3 . .'
    'sider4 . .';
    margin: 20px auto;
    width: 1280px;
    gap: 20px;
}

/* ----------------------PERFIL-------------------- */

.profile-top{
    background: #4444;
    grid-area: sider;
    width: 100%;
    height: 40vh;
}

.profile-top div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.profile-top div > img{
    border-radius: 50%;
    width: 150px;
    margin: 20px;
}

.profile-top div > h2{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.profile-top div > p{
    display: flex;
    flex-wrap: wrap;
}

/* ------------------INFOMACÕES----------------- */

.sider-info{
    background: #4444;
    grid-area: sider1;
    display: flex;
    /* max-height: 380px; */
    align-items: center;
}

.sider-info div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 10px 5px;
}

.sider-info > div > .item-loc a{
    text-decoration: none;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 5px;
}

div .item-loc > a i{
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 5px;
}

div .item-loc > a p{
    font-size: 0.8em;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 5px;
}

/* --------------------------------------------- */

.sider-tech{
    background: #4444;
    grid-area: sider2;
    display: flex;
    height: 200px;
}

/* --------------------------------------------- */

.sider-expe{
    background: #4444;
    grid-area: sider3;
    display: flex;
    height: 200px;
}

/* --------------------------------------------- */

.sider-educ{
    background: #4444;
    grid-area: sider4;
    display: flex;
    height: 200px;
}

/* ----------------------------------------------- */

.project-container{
    background: #4444;
    grid-area: pro-top;
    /* height: 100vh; */
}

/* ----------------------------------------------- */

/* .my-projects{
    grid-area: my-pro;
} */

/* .projects{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
} */

.projects-md-1{
    background: #4444;
    grid-area: proj1;
    /* margin: 5px; */
    
}

.projects-md-2{
    background: #4444;
    grid-area: proj2;
    /* margin: 5px; */
    
}

.projects-md-3{
    background: #4444;
    grid-area: proj3;
    /* margin: 5px; */
    
}

.projects-md-4{
    background: #4444;
    grid-area: proj4;
    /* margin: 5px; */
    
}

/* ----------------------------------------------- */

.post-recent{
    background: #4444;
    grid-area: p-rec;
    height: 5vh;
}

.post-000{
    background: #4444;
    grid-area: post1;
    height: 20vh;
}
.post-001{
    background: #4444;
    grid-area: post2;
    height: 20vh;
}