@charset "UTF-8";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --text-color: white;
    --bg-url: url(/discover/assets/bg-mobile.jpg);
    --strong-color: rgba(255, 255, 255, 0.5);
    --surface-color: #5e5e5e1e;
    --surface-color-hover: rgba(0, 0, 0, 0.2);
    --highlight-color: rgba(255, 255, 255, 0.2);
}

.light{
    --text-color: black;
    --bg-url: url(/discover/assets/bg-mobile-light.jpg);
    --strong-color: rgb(0, 0, 0.5);
    --surface-color: rgba(0, 0, 0, 0.05);
    --surface-color-hover: rgba(51, 50, 50, 0.2);
    --highlight-color: rgba(0, 0, 0, 0.1);
}

body{
    background: var(--bg-url) no-repeat top center/cover;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container{
    width: 360px;
    margin: 56px auto 0px;
    padding: 0px 24px;
}

.profile{
    padding: 24px;
}

.profile p{
    margin: 8px auto;
    text-align: center;
    font-weight: 500;
}

.profile img{
    display: flex;
    width: 112px;
    margin: auto;
}

ul{
    list-style: none;
    padding: 24px 0px;
}

ul li{
    display: flex;
}

li a{
    background-color: var(--surface-color);
    backdrop-filter: blur(10px);
    border-radius: 5px;
    color: var(--text-color);
    display: flex;
    padding: 16px;
    font-weight: 500;
    justify-content: center;
    text-decoration: none;
    margin: 8px auto;
    width: 100%;
    border: 1px solid var(--strong-color);
    transition: 0.3s;
}

li a:hover{
    background-color: var(--surface-color-hover);
    color: #5e5e5e;
    border: 1px solid #5e5e5e;
    transition: 0.3s;
}

#socialmedia{
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    font-size: 24px;
}

#socialmedia a{
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    border-radius: 50%;
    transition: 0.3s;
}

#socialmedia a:hover{
    background-color: var(--highlight-color);
}

footer{
    padding: 24px 0px;
    text-align: center;
    font-size: 0.9em;
}

footer a{
    color: var(--text-color);
    text-decoration: none;
}

footer a:hover{
    color: #5e5e5e;
}