@charset "UTF-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --cor-0: #350058;
    --cor-1: #3d1579;
    --cor-2: #4E00C6;
    --cor-3: #6400FA;
    --cor-4: #914BFB;
}

body{
    background:linear-gradient(to right, #12001f, #44007c);
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

section{
    max-width: 100%;
    padding: 0px 24px;
}

/* ------------------------------------------- */
.foto-nome{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.foto-nome-item{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    flex-direction: column;
}
.foto-nome-item img{
    border: 2px solid var(--cor-4);
    padding: 5px;
    border-radius: 50%;
    width: 180px;
}
.foto-nome-item h2{
    color: var(--cor-4);
    margin: 10px 0px;
    font-size: 1.2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* ------------------------------------------- */

.link-list{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

.link-list ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    flex-direction: column;
    margin: auto;
    width: 400px;
}

.link-list ul > li{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 0px;
    text-transform: uppercase;
}
.link-list a{
    backdrop-filter: blur(100px);
    border-radius: 5px;
    border: 2px solid var(--cor-4);
    color: var(--cor-4);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    transition: 0.3s;
    width: 100%;
}

.link-list a:hover{
    color: var(--cor-2);
    backdrop-filter: blur(100px);
    border: 2px solid var(--cor-1);

}

/* ------------------------------------------- */

.social-links{
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.social-links ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: auto;
    width: 400px;
    justify-content: space-evenly;
}

.social-links ul > li{
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
}

.social-links a{
    color: var(--cor-4);
    text-decoration: none;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 50%;
    transition: 0.3s;
}

.social-links a > i{
    font-size: 24px;
    display: flex;
    flex-wrap: wrap;

}

.social-links a:hover{
    color: #ffffff;
    background: var(--cor-2);
    backdrop-filter: blur(100px);
    transition: 0.3s;
}

/* ------------------------------------------- */

footer{
    color: #e7e7e7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    font-size: 1.2em;
}

footer a{
    color: var(--cor-4);
    text-decoration: none;
    margin: 0px 5px;
}

footer a:hover{
    color: var(--cor-2);
    text-decoration: underline;
}

hr{
    border: 1px dashed var(--cor-4);
    border-radius: 5px;
    /* padding: 10px; */
    width: 100%;
    margin: auto;
}